* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* See https://paulund.co.uk/css-animation-link-underline */

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

li {
    padding: 3px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

#container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: auto;
}

header {
    text-align: center;
}

#banner {
    margin: auto;
    height: 250px;
    width: 1100px;
    border: 5px solid blanchedalmond;
    margin-bottom: 15px;
    background-color: #7EE0D0;
    position: relative;
    overflow: hidden;
    animation: bgcolorchange 8s infinite alternate;
}

@keyframes bgcolorchange {
    0% {background-color: whitesmoke;}
    100% {background-color: black;}
}

#banner:hover #ball1{
    animation: slide1 3s infinite ease forwards;
}

#banner:hover #ball2{
    animation: slide2 3s infinite ease forwards;
}

#banner:hover #ball2a{
    animation: slide2a 3s infinite ease forwards;
}

#banner:hover #ball3{
    animation: slide3 3s infinite ease forwards;
}

#banner:hover #ball3a{
    animation: slide3a 3s infinite ease forwards;
}

@keyframes slide1 {
    0% {
        background-color: #A30600;
        left: 100px;
    }
    50% {
        background-color: #EB7E1E;
        left: calc(50% - 40px);
    }
    100% {
        background-color: #F0D710;
        left: calc(100% - 180px)
    }
}

@keyframes slide2 {
    0% {
        background-color: #EB7E1E;
        left: calc(50% - 40px);
    }
    50% {
        background-color: #F0D710;
        left: calc(100% - 180px);
    }
    100% {
        left: calc(100% + 180px);
    }
}

@keyframes slide2a {
    50% {
        left: -80px;
    }
    100% {
        background-color: #A30600;
        left: 100px;
    }
}

@keyframes slide3 {
    0% {
        background-color: #F0D710;
        left: calc(100% - 180px);
    }
    50% {
        background-color: #A30600;
        left: calc(100% + 180px);
    }
    100% {
        left: calc(100% + 180px);
    }
}

@keyframes slide3a {
    50% {
        background-color: #A30600;
        left: 100px;
    }
    100% {
        background-color: #EB7E1E;
        left: calc(50% - 40px);
    }
}

.ball {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 35%;
}

#ball1 {
    background-color: #A30600;
    left: 100px;
}

#ball2 {
    background-color: #EB7E1E;
    left: calc(50% - 40px);
}

#ball2a {
    left: -80px;
}

#ball3 {
    background-color: #F0D710;
    left: calc(100% - 180px);
}

#ball3a {
    left: -80px;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

main > section {
    width: 33%;
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: width 1s ease-in-out;
}

main > section:hover {
    width: 100%;
}

#studios {
    background-color: #ED967E;
}

#studios:hover {
    box-shadow: 5px 7px 15px #9E9EE8;
}

#rd {
    background-color: #F7CBA1;
}

#rd:hover {
    box-shadow: 5px 7px 15px #ADD7FF;
}

#final {
    background-color: #FAF596;
}

#final:hover {
    box-shadow: 5px 7px 15px #DFBAFF;
}

footer {
    width: 33%;
    margin: auto;
}

footer > nav > ul {
    display: flex;
    justify-content: space-evenly;
}

ol, ul {
    list-style-type: none;
}