/* https://fontmeme.com/super-mario-font/ */
@font-face {
    font-family: 'SuperMario256';
    src: url('./SuperMario256.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'SuperMario256';
    font-size: 50px;
}

ol, ul {
    list-style-type: none;
}

body {
    margin: 2% 5%;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    background-color: #ADD8FB;
}

#container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

.blue {
    -webkit-text-stroke: 3px black;
    color: #53A1EC;
}

.green {
    -webkit-text-stroke: 3px black;
    color: #62AD46;
}

.red {
    -webkit-text-stroke: 3px black;
    color: #FA2507;
}

.yellow {
    -webkit-text-stroke: 3px black;
    color: #FEDD02;
}

form {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 4px;
    /* background-color: antiquewhite; */
    background-color: azure;
    transition: 1s;
}

form:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

form > p {
    font-weight: bold;
}


label {
    margin-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 8px 12px;
    margin: 8px;
    border-radius: 4px;
    border: 2px solid black;
    transition: 1s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid lightskyblue;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
input[type=submit] {
    width: 60%;
    background-color: #62AD46;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 0 9px #999;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}

input[type=submit]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#display {
    position: relative;
}

#mario {
    position: absolute;
    left: 25vw;
    bottom: 63vh;
}

#mario > img {
    max-width: 15%;
    height: auto;
}

.block {
    position: absolute;
    left: 35vw;
}

.block:hover {
    cursor: pointer;
}

.block > img {
    max-width: 20%;
    height: auto;
    transition: 0.5s;
}

.block > img:hover {
    filter: drop-shadow(10px 20px 4px); 
    max-width: 22%;
}

#block1 {
    bottom: 62vh;
}

#block2 {
    bottom: 42vh;
}

#block3 {
    bottom: 22vh;
}

#block4 {
    bottom: 2vh;
}

.triangle {
    position: absolute;
    left: 47vw;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid azure;
    border-bottom: 25px solid transparent;
    transition: all 0.5s;
}

#triangle1 {
    bottom: 69vh;
}

#triangle2 {
    bottom: 49vh;
}

#triangle3 {
    bottom: 29vh;
}

#triangle4 {
    bottom: 9vh;
}

.text {
    position: absolute;
    left: 50vw;
    transition: all 0.5s;
    background-color: azure;
    padding: 30px;
}

#text1 {
    bottom: 67vh;
}

#text2 {
    bottom: 47vh;
}

#text3 {
    bottom: 27vh;
}

#text4 {
    bottom: 7vh;
}

#clouds {
    position: absolute;
    bottom: 59vh;
    left: 60vw;
}

#clouds > img {
    max-width: 100%;
    height: auto;
}

#grass {
    position: absolute;
    z-index: -2;
    bottom: -20vh;
    left: 0;
}

#grass > img {
    max-width: 100%;
    height: auto;
}

#platform {
    z-index: -1;
    position: absolute;
    bottom: -23vh;
    left: -10vw;
}

#platform > img {
    max-width: 110%;
    height: auto;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: showing;
    opacity: 1;
}

footer > nav > ul {
    margin-left: 85%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}