/* https://fontmeme.com/super-mario-font/ */
@font-face {
    font-family: 'SuperMario256';
    src: url('./SuperMario256.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'SuperMario256';
    font-size: 50px;
}

ol, ul {
    list-style-type: none;
}

body {
    margin: 2% 5%;
    font-family: 'Roboto Mono', monospace;
    background-color: #ADD8FB;
    overflow: hidden;
}

#container {
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas: 
        "header header ."
        "form display display"
        "footer footer footer"
    ;
}

header {
    grid-area: header;
    align-self: center;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

.blue {
    -webkit-text-stroke: 3px black;
    color: #53A1EC;
}

.green {
    -webkit-text-stroke: 3px black;
    color: #62AD46;
}

.red {
    -webkit-text-stroke: 3px black;
    color: #FA2507;
}

.yellow {
    -webkit-text-stroke: 3px black;
    color: #FEDD02;
}

form {
    grid-area: form;
    justify-self: center;
    align-self: center;
    width: 90%;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: azure;
    transition: 1s;
}

form:hover {
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
    box-shadow: 12px 12px 2px 1px rgba(246, 246, 247, 0.644);
}

form > p {
    font-weight: bold;
}

form > label {
    display: inline-block;
    margin-top: 5%;
}

input[type=text] {
    width: 100%;
    padding: 8px 12px;
    margin: 8px;
    border-radius: 4px;
    border: 2px solid black;
    transition: 1s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid lightskyblue;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
input[type=submit] {
    width: 60%;
    background-color: #62AD46;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 45px;
    box-shadow: 0 9px #999;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}

input[type=submit]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#display {
    grid-area: display;
}

#mario {
    position: absolute;
    bottom: 15%;
    left: 30%;
}

.section {
    position: absolute;
    bottom: 30%;
}

#section1 {
    left: 40%;
}

#section2 {
    left: 55%;
}

#section3 {
    left: 70%;
}

#section4 {
    left: 85%;
}

.block:hover {
    cursor: pointer;
}

.block > img {
    transition: 0.5s;
}

.block > img:hover {
    filter: drop-shadow(10px 20px 4px);
}

.triangle {
    position: absolute;
    left: 30%;
    bottom: 80%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid azure;
    border-bottom: 25px solid transparent;
    transform: rotate(270deg);
    transition: all 0.5s;
}

.emphasize {
    font-weight: bold;
    font-style: italic;
}

.text {
    background-color: azure;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 500%;
    padding: 30px;
    transition: all 0.5s;
}

#text1 {
    left: 0;
}

#text2 {
    left: -100%;
}

#text3 {
    left: -250%;
}

#text4 {
    left: -400%;
}

#clouds1 {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}

#clouds2 {
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: -1;
}

#grass {
    position: absolute;
    bottom: 7%;
    left: 30%;
    z-index: -1;
}

#platform {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

footer {
    grid-area: footer;
    justify-self: end;
    align-self: end;
    width: 15%;
}

footer > nav > ul {
    color: white;
    display: flex;
    justify-content: space-between;
}

footer > nav > ul > li {
    margin-left: 10%;
}