* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

li {
    padding: 2px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 5%;
}

#container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
}

header {
    text-align: center;
}

#banner {
    margin: auto;
    width: 80%;
    height: 100px;
    border: 5px solid blanchedalmond;
    margin-bottom: 30px;
    background-color: #7EE0D0;
    position: relative;
    overflow: hidden;
    animation: bgcolorchange 15s infinite alternate;
}

@keyframes bgcolorchange {
    0% {background-color: #7EE0D0;}
    25% {background-color: #E7E9F2;}
    50% {background-color: #A8EEAD;}
    75% {background-color: #D4D5F2;}
    100% {background-color: #D4EE7D;}
}

#banner:hover #ball1{
    animation: slide1 3s infinite ease forwards;
}

#banner:hover #ball2{
    animation: slide2 3s infinite ease forwards;
}

#banner:hover #ball3{
    animation: slide3 3s infinite ease forwards;
}

#banner:hover #ball4{
    animation: slide4 3s infinite ease forwards;
}

#banner:hover #ball5{
    animation: slide5 3s infinite ease forwards;
}

@keyframes slide1 {
    0% {
        background-color: #A30600;
        left: 100px;
    }
    50% {
        background-color: #EB7E1E;
        left: calc(50% - 25px);
    }
    100% {
        background-color: #F0D710;
        left: calc(100% - 150px)
    }
}

@keyframes slide2 {
    0% {
        background-color: #EB7E1E;
        left: calc(50% - 25px);
    }
    50% {
        background-color: #F0D710;
        transform: translateX(370px);
    }
    100% {
        background-color: #F0D710;
        transform: translateX(600px);
    }
}

@keyframes slide3 {
    0% {
        background-color: #F0D710;
        left: calc(100% - 150px);
    }
    100% {
        background-color: #A30600;
        transform: translateX(300px);
    }
}

@keyframes slide4 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-color: #A30600;
        transform: translateX(100px);
    }
}

@keyframes slide5 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        background-color: #A30600;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        background-color: #EB7E1E;
        transform: translateX(460px);
    }
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
}

#ball1 {
    background-color: #A30600;
    left: 100px;
}

#ball2 {
    background-color: #EB7E1E;
    left: calc(50% - 25px);
}

#ball3 {
    background-color: #F0D710;
    left: calc(100% - 150px);
}

#ball4 {
    left: 0px;
}

#ball5 {
    left: 0px;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

main > section {
    width: 33%;
    border: solid 3px black;
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    text-align: center;

    transition: width 1s ease-in-out;
}

main > section:hover {
    width: 100%;
}

#studios {
    background-color: #DFBAFF;
}

#studios:hover {
    box-shadow: 5px 7px 15px #9E9EE8;
}

#rd {
    background-color: #9E9EE8;
}

#rd:hover {
    box-shadow: 5px 7px 15px #ADD7FF;
}

#final {
    background-color: #ADD7FF;
}

#final:hover {
    box-shadow: 5px 7px 15px #DFBAFF;
}

footer {
    width: 33%;
}

footer > nav > ul {
    display: flex;
    justify-content: space-evenly;
}

ol, ul {
    list-style-type: none;
}